{{template "base" .}}

{{define "title"}}Get a reward{{end}}

{{define "body"}}
<div>
    <h4>Balance: {{.Balance}}</h4>
</div>

<div>
    <h4>Solid items: {{.ItemsCount}}</h4>
</div>

<div>
    <h4>Real money: {{.MoneyReward}}</h4>
</div>

<form id="get-reward-form" action="/get-reward" method="post">
    <div class="container">
        <label for="get-reward-btn"><b>Don't touch</b></label><br/>
        <button id="get-reward-btn" type="submit"><h1>THE BUTTON</h1></button>
    </div>
</form>
<div id="submit-reward-modal" class="modal">
    <p id="reward-tag"></p>
    <a href="#" id="submit-reward-btn">Submit</a>
    <p>or</p>
    <a href="#" rel="modal:close">Dismiss</a>
</div>

<script>
    const rewardPrefix = "Here is your reward: ";
    let reward = null;
    $("#get-reward-form").submit(function(e) {
        e.preventDefault();
        $("#reward-tag").innerHTML = "";

        let form = $(this);
        let actionUrl = form.attr('action');
        $.ajax({
            type: "POST",
            url: actionUrl,
            xhrFields: {
                withCredentials: true
            },
            success: function(data)
            {
                reward = data
                $("#reward-tag").text(rewardPrefix + reward.type + " - " + reward.amount);
                $("#submit-reward-modal").modal({
                    escapeClose: false,
                    clickClose: false,
                    showClose: false
                });
            }
        });
    });
    $("#submit-reward-btn").click(function() {
        let actionUrl = "/submit-reward"
        $.ajax({
            type: "POST",
            url: actionUrl,
            data: reward,
            xhrFields: {
                withCredentials: true
            },
            success: function(data)
            {
                window.location = "/"
            }
        });
    })
</script>
{{end}}