{{template "base" .}}

{{define "title"}}Register{{end}}

{{define "body"}}
<form action="/register" method="post">
    <div class="container">
        <h1>Register</h1>
        <hr>

        <label for="name"><b>Name</b></label><br/>
        <input type="text" placeholder="Enter name" name="name" id="name" required><br/><br/>

        <label for="pswd"><b>Password</b></label><br/>
        <input type="password" placeholder="Enter password" name="pswd" id="pswd" required><br/><br/>

        <label for="banc_acc"><b>Bank Account No</b></label><br/>
        <input type="text" placeholder="Enter bank account number" name="banc_acc" id="banc_acc" required><br/><br/>

        <label for="address"><b>Address</b></label><br/>
        <input type="text" placeholder="Enter address" name="address" id="address" required><br/><br/>

        <hr>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
</form>
{{end}}